.chat-main {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

.content-main {
    display: flex;
    height: 100%;
}

.left-bar {
    background-color: red;
    width: 20vw
}

.center-main {
    background-color: blue;
    width: 65vw;
}

.right-bar {
    background-color: green;
    width: 15vw;
}

